{{- range $app := .Values.apps }}
{{- if $app.autoscaling }}
{{- if $app.autoscaling.enabled }}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $.Release.Name }}-{{ $app.name }}
  labels:
    app: {{ $app.name }}
    release: {{ $.Release.Name }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ $.Release.Name }}-{{ $app.name }}-deploy
  minReplicas: {{ $app.autoscaling.minReplicas }}
  maxReplicas: {{ $app.autoscaling.maxReplicas }}
  metrics:
    {{- if $app.autoscaling.targetCPUUtilizationPercentage }}
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: {{ $app.autoscaling.targetCPUUtilizationPercentage }}
    {{- end }}
    {{- if $app.autoscaling.targetMemoryUtilizationPercentage }}
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: {{ $app.autoscaling.targetMemoryUtilizationPercentage }}
    {{- end }}
{{- end }}
{{- end }}
{{- end }}