{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: {{ .Release.namespace }}
  name: {{ .Release.Name }}-ingress
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.class }}
  rules:
    {{- if .Values.ingress.domains }}
    {{- range .Values.ingress.domains }}
    - host: {{ . }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $.Release.Name }}-svc
                port:
                  number: {{ $.Values.network.port }}
    {{- end }}
    {{- else }}
    - {{- if .Values.ingress.domain }}
      host: {{ .Values.ingress.domain }}
      {{- end }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}-svc
                port:
                  number: {{ .Values.network.port }}
    {{- end }}
{{- end}}
