apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ .Release.Name }}-spc
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
spec:
  provider: aws
  parameters:
    objects: |
      {{- if .Values.sharedSecrets.enabled }}
      - objectName: {{ .Values.sharedSecrets.awsSecretName }}
        objectType: "secretsmanager"
        jmesPath:
          {{- range $secret := .Values.sharedSecrets.envs }}
          - path: {{ $secret.name }}
            objectAlias: shared-{{ $secret.name }}
          {{- end }}
      {{- end }}
      - objectName: {{ .Values.secrets.awsSecretName }}
        objectType: "secretsmanager"
        jmesPath:
          {{- range $secret := .Values.secrets.envs }}
          - path: {{ $secret.name }}
            objectAlias: {{ $secret.name }}
          {{- end }}

  secretObjects:
    - secretName: {{ .Release.Name }}-secret
      type: Opaque
      data:
        {{- if .Values.sharedSecrets.enabled }}
        {{- range $secret := .Values.sharedSecrets.envs }}
        - objectName: shared-{{ $secret.name }}
          key: {{ $secret.name | quote }}
        {{- end }}
        {{- end }}
        {{- range $secret := .Values.secrets.envs }}
        - objectName: {{ $secret.name }}
          key: {{ $secret.name | quote }}
        {{- end }}
