{{- if .Values.network.serviceEnabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: {{ .Release.Name }}-app
    env: {{ .Values.environment }}
  ports:
    - protocol: TCP
      port: {{ .Values.network.port }}
      targetPort: {{ .Release.Name }}
{{- end}}